/* CSS declarations go here */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Indie Flower';
}

/*   ////////////////////////// */
/*  // THE Please Wait Logo // */
/* ////////////////////////// */

.please-wait-logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*   ////////////////////////// */
/*  /// THE USERNAME INPUT /// */
/* ////////////////////////// */
.usernameInput {
  position: relative;
  /* bring your own prefixes */

}

input[type="text"].usernameInput{
	border:1px solid rgba(51,51,51,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
	padding: 5px;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	font-family: 'Indie Flower';
	text-align:center;
}


/*   ////////////////////////// */
/*  //////// THE CHAT //////// */
/* ////////////////////////// */

.arrow-right{
	position: fixed;
	right: 360px;
}

.arrow-right img{
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.arrow-left{
	position: fixed;
	right: 0px;
}

.arrow-left img{
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.chat-div {
	position: fixed;
	width: 360px;
	right: -360px;
	float: right;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color:  rgba(255, 243, 67, 0.27);
	border-left: 2px solid #c9ebce;
	border-top: 2px solid #c9ebce;
}
.chat-post {
	max-width: 95%;
	padding-left: 2%;
	padding-top: 1%;
	text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.75);
	color: rgba(255, 255, 255, 0.67);
}
p.chat-post{
	margin: 0;
}
.chatInput-div {
	position: fixed;
	bottom: 0 ;	
}
.chatInput {
	width: 100vw;
	height: 30px;
	opacity: 0.5;
}

input[type="text"].chatInput{
	padding-left: 5px;
	font-size: 16px;
	font-family: 'Indie Flower';
}

.chat-post:last-child {
	padding-bottom: 50px;
}

div#ascrail2000 { 
	right: 0 !important; 
}


/*   ////////////////////////// */
/*  /////// THE MODAL //////// */
/* ////////////////////////// */

.rv-vanilla-modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.2);
  display: none;
  -webkit-transition: .4s opacity linear;
  transition: .4s opacity linear
  opacity: 1;
  display: block
}

.rv-vanilla-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  z-index: 10;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
  transform: translate(-50%, -50%);
}


.rv-vanilla-modal-header {
  padding: 10px;
  background: #3CB3E7;
  border-radius: 20px 20px 0 0
}

.rv-vanilla-modal-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 10px;
  overflow: hidden;
  color: #555
}

.rv-vanilla-modal-body p {
  line-height: 150%;
  margin: 0 0 1em
}

.rv-vanilla-modal-title {
  color: #fff;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.rv-vanilla-startGameButton {
	margin-top: 4px;
	background-color:#44c767;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Indie Flower';
	font-size:17px;
	padding:4px 33px;
	width: 100%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.rv-vanilla-startGameButton:hover {
	background-color:#5cbf2a;
}
.rv-vanilla-startGameButton:active {
	position:relative;
	top:1px;
}

.rv-vanilla-settingsGameButton {
	margin-top: 4px;
	background-color:#459ec7;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #8e19ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Indie Flower';
	font-size:17px;
	padding:4px 33px;
	width: 100%;
	text-decoration:none;
	text-shadow:0px 1px 0px #283266;
}
.rv-vanilla-settingsGameButton:hover {
	background-color:#2a65bd;
}
.rv-vanilla-settingsGameButton:active {
	position:relative;
	top:1px;
}

.outer-settings{
	text-align: center;
}

.settings-columns{
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	width: 40%;
}

.instructions-text{
	text-align: center;
	margin-top: 4px;
	cursor: default;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */
}

.footer {
	text-align: center;
	font-size: 12px;
	cursor: default;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */
}

.tooltip{
	display: inline;
	position: relative;
}

.tooltip:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	right: -80%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
}

.tooltip:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 20%;
	position: absolute;
	z-index: 99;
}

/*   ////////////////////////// */
/*  ////// ON/OFF SWITCH ///// */
/* ////////////////////////// */


.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-left: auto;
    margin-right: auto;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 16px; color: white; font-family: 'Indie Flower';
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34C153; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #ED5A5A; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 1px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 46px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.onoffswitch-message p {
	text-align: center;
	margin-bottom: 4px;
	margin-top: 16px;
	cursor: default;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
 	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */
}