<head>
  <meta name="viewport" content="initial-scale=1">
  <title>Bact.io</title>

  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>

<body>
  	
    {{> outer}}

</body>

<template name="outer">
  {{#if Template.subscriptionsReady}}
    
    {{> inner}}

  {{else}}
    <img class="please-wait-logo" src="assets/please_wait_logo.png" />
  {{/if}}
</template>

<template name="inner">
  <div class="gameDiv"></div>
  {{> modal}}
  {{> arrows}}
  <div id="chat-div" class="chat-div">
    <div class="chat-well">
      <div class="chat-return">
        {{> chatmessages}}
      </div>
      <div class="chatInput-div">
        {{> chatinput}}
      </div>
    </div>
  </div>

</template>

<template name="chatmessages">
  {{#each messages}}
    {{> messagesItem}}
  {{/each}}
</template>

<template name="messagesItem">
  <p class="chat-post"><strong>[{{messageTime}}] {{name}}:</strong> {{message}}</p>
</template>

<template name="chatinput">
  <input type="text" name="chat-message" id="chat-message" class="chatInput" disabled />
</template>

<template name="arrowRight">
  <div class="arrow-right" id="arrow-right">
    <img src="assets/arrow-right.png" />
  </div>
</template>

<template name="arrowLeft">
  <div class="arrow-left" id="arrow-left">
    <img src="assets/arrow-left.png" />
  </div>
</template>

<template name="arrows">
  {{#if chatVisible}}
    {{> arrowRight}}
  {{else}}
    {{> arrowLeft}}
  {{/if}}
</template>


<template name="modal">
  {{#if userNotPlaying}}
    <div class="rv-vanilla-modal-overlay"></div>
    <div class="rv-vanilla-modal">
      <div class="rv-vanilla-modal-header">
        <h2 class="rv-vanilla-modal-title">
          Bact.io - A Bacterial Game
        </h2>
      </div>
      <div class="rv-vanilla-modal-body">
        <input type="text" name="username" class="usernameInput" id="username" placeholder="Username" />
        <input type="submit" name="startGame" id="startGame" class="rv-vanilla-startGameButton" value="Play" />
        <input type="submit" name="settingsGame" id="settingsGame" class="rv-vanilla-settingsGameButton" value="Settings" />

        {{#if showSettings}}
        <div class="outer-settings">
          <div class="settings-columns">
            <div class="onoffswitch-message">
              <p>
                Hide names & scores
              </p>
            </div>
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="setting1" checked="{{setting1Status}}" />
              <label class="onoffswitch-label" for="setting1">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>

          <div class="settings-columns">
            <div class="onoffswitch-message">
              <p>
                Disable ScrollDelta <span title="Turning this setting on can increase FPS in some cases." class="tooltip" ><span title="">[?]</span></span>
              </p>
            </div>
            <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="setting2" checked="{{setting2Status}}" />
              <label class="onoffswitch-label" for="setting2">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>

        {{else}}

          <div class="instructions-text">
            <p>
              Control your character with the arrow keys<br />
              Inject chili powder to become angry<br/>
              Inject caffeine to speed up<br/>
            </p>
          </div>

        {{/if}}

        <div>
          <img src="/assets/ad.png" style="display: block; margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 10px;" />
        </div>

        <div class="footer">
          All rights reserved: <a href="http://saovy.com" target="_blank">Saovy IVS </a> | <a href="privacy-policy.txt">Privacy Policy</a> | <a href="terms.txt">Terms & Conditions</a>
        </div>
      </div>
    </div>
  {{/if}}
</template>